  

    <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/1.png" alt="Card image cap">
          </div>
          <a class="btn btn-primary" href="/dashboard/v2">Proyectos</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/2.png" alt="Card image cap">
          </div>
          <a class="btn btn-primary" href="/charts/flot">Procedimientos</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/3.png" alt="Card image cap">
          </div>
          <div class="btn btn-primary">Campos</div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/4.png" alt="Card image cap">
          </div>
          <div class="btn btn-primary">Produccion</div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/5.png" alt="Card image cap">
          </div>
          <div class="btn btn-primary">Variedades</div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/6.png" alt="Card image cap">
          </div>
          <div class="btn btn-primary">Personas</div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="contenedor">
          <img class="card-img-top" src="assets/img/home/cards/7.png" alt="Card image cap">
          </div>
          <div class="btn btn-primary">Reportes</div>
        </div>
      </div>