<body>
	
	<div class="main-area center-text" style="background-image:url(/assets/img/maintenance/irrigationwallpaper.jpg);">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>Próximamente</b></h1>
				<p class="desc font-white">Nuestro Sitio está desactivado por tareas de mantenimiento.
					Volveremos pronto. Gracias por tu paciencia!</p>
				
				<a class="notify-btn" href="#"><b>Escríbenos</b></a>
				
				<ul class="social-btn font-white">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google</a></li>
					<li><a href="#">Instagram</a></li>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
	
</body>